/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard JP', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6F7F5;
}

/* 네비바가 있는 페이지용 */
body.has-navbar {
    padding-top: 60px;
}

/* 컨테이너 공통 스타일 */
.container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px;
    }
} 